@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

body {
  font-family: "Lato", sans-serif;
}

header .blue-bar {
  display: flex;
  justify-content: flex-end;
  font-size: 11px;
  text-transform: uppercase;
  color: white;
  background-color: #2982f9;
}
header .blue-bar .container {
  height: 23px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .blue-bar .container > span {
  margin-left: 55px;
}
header .blue-bar .container > span .triangle {
  font-size: 9px;
  margin-left: 4px;
}
header .container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container img {
  width: 70px;
}
header .container ul {
  font-size: 14px;
  text-transform: uppercase;
  list-style: none;
  display: flex;
}
header .container ul a {
  display: block;
  height: 100px;
  line-height: 100px;
  color: #1c1c1c;
  font-weight: 700;
  text-decoration: none;
  padding: 0 10px;
}
header .container ul a.active, header .container ul a:hover {
  color: #2982f9;
  border-bottom: 4px solid #2982f9;
}
header .hero {
  width: 100%;
  height: 370px;
  background-image: url("../images/jumbotron.jpg");
  background-size: cover;
}

main .content {
  color: white;
  background-color: #1c1c1c;
}
main .content .title span {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  padding: 12px 20px;
  background-color: #2982f9;
  transform: translateY(-50%);
}
main .content .series {
  display: flex;
  flex-wrap: wrap;
}
main .content .series > * {
  width: calc(16.6666666667% - 20px);
  margin: 20px 10px;
  cursor: pointer;
  transition: transform 0.6s;
}
main .content .series > *:hover {
  transform: scale(1.1);
}
main .content .series img {
  width: 100%;
  aspect-ratio: 0.9;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
main .content .series .text {
  margin-top: 10px;
}
main .content .series .text span {
  font-size: 12px;
  text-transform: uppercase;
}
main .content .load {
  text-align: center;
  padding: 30px 0;
}
main .content .load span {
  text-transform: uppercase;
  font-weight: bold;
  background-color: #2982f9;
  padding: 10px 40px;
  cursor: pointer;
}
main .content .load span:hover {
  background-color: #2f65ad;
}

footer .top {
  background-color: #2982f9;
}
footer .top .container {
  display: flex;
  justify-content: space-around;
}
footer .top .container .item {
  color: white;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 40px 0;
  transition: transform 0.6s;
  cursor: pointer;
}
footer .top .container .item:hover {
  transform: scale(1.1);
}
footer .top .container .item img {
  width: 50px;
  margin-right: 15px;
}
footer .top .container .item .text {
  font-size: 13px;
}
footer .middle {
  color: white;
  background-image: url(../images/footer-bg.jpg);
}
footer .middle .container {
  display: flex;
  justify-content: space-between;
}
footer .middle .container .cols {
  display: flex;
  padding: 40px 0 20px;
}
footer .middle .container .cols .col {
  margin: 0 20px;
}
footer .middle .container .cols .col h2 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
footer .middle .container .cols .col ul {
  list-style: none;
  font-size: 14px;
}
footer .middle .container .cols .col ul li {
  margin: 5px 0;
  color: #948f8f;
  cursor: pointer;
}
footer .middle .container .cols .col ul li:hover {
  text-decoration: underline;
}
footer .middle .container .cols .col .col-top {
  margin-bottom: 20px;
}
footer .middle .container .copyright {
  margin-left: 20px;
  margin-bottom: 40px;
  font-size: 14px;
  color: #948f8f;
}
footer .middle .container .copyright a {
  text-decoration: none;
  color: #2982f9;
}
footer .middle .container .big-logo {
  width: 45%;
  position: relative;
  overflow: hidden;
}
footer .middle .container .big-logo img {
  width: 120%;
  max-width: 500px;
  position: absolute;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transform: translateY(-12%);
  overflow: hidden;
}
footer .bottom {
  background-color: #303030;
}
footer .bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
footer .bottom .container .sign-up {
  color: white;
  text-transform: uppercase;
  border: 2px solid #2982f9;
  cursor: pointer;
}
footer .bottom .container .sign-up span {
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid transparent;
}
footer .bottom .container .sign-up span:hover {
  border-color: #2982f9;
}
footer .bottom .container .social {
  display: flex;
  align-items: center;
}
footer .bottom .container .social span {
  color: #2982f9;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 15px;
  cursor: pointer;
}
footer .bottom .container .social img {
  width: 35px;
  margin: 0 10px;
  cursor: pointer;
  transition: transform 0.2s;
}
footer .bottom .container .social img:hover {
  transform: scale(1.1);
}